[Unit]
Description=Nim Planet
After=network-online.target httpd.service squid.service nfs-server.service mysqld.service named.service postfix.service

[Service]
Type=oneshot
User=nimplanet
ExecStart=planet --no-publish nim_planet.ini

WorkingDirectory=/var/lib/nim_planet
# Hardening
#SystemCallFilter=~@clock,~@cpu-emulation,~@debug,~@ipc,~@keyring,~@module
#SystemCallFilter=~@mount,~@obsolete,~@privileged,~@raw-io,~@reboot
#SystemCallFilter=~@resources,~@swap

NoNewPrivileges=true
PermissionsStartOnly=true
CapabilityBoundingSet=
PrivateDevices=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

ReadOnlyDirectories=/
ReadWriteDirectories=/proc/self
ReadWriteDirectories=/var/lib/nim_planet

StandardOutput=syslog+console
StandardError=syslog+console
